.card-carta {
  background: #a5a5a5;
  color: #fff;
  margin-left: 2px;
  margin-bottom: 7px;
  width: 24vw;
}

.div-text {
  max-height: 155px;
  overflow: auto;
}

.div-color {
  bottom: 14px;
  right: 14px;
}

.borda-img {
  border-radius: 16px;
}
